* {
    /* margin: 0; */
    /* padding: 0; */
}
html {
    align-items: center;
}

.menu-container {
    margin: 0;
    padding: 0;
    width: 1158px;
    height: 3500px;
    display: flex;
    align-items: left;
    border: 1px solid #ccc;
}

.menu-category-list {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 770px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: left;
    border: 1px solid #333;
}

.menu-card-container {
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    width: 1008px;
    height: 770px;
    /* flex-shrink: 0; */
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8; */
    border: 1px solid #333;
}

.menu-category-title {
    width: 1008px;
    height: 70px;
    text-align: left;
    margin-left: 25px;
    margin-top: 20px;
}

.menu-card {
    margin: 25px;
    width: 200px;
    height: 280px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.menu-card-content {
    padding: 0px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    justify-content: center;
    width: 200px;
    height: 80px;
}

.menu-card-title {
    margin-left: 0;
    margin-top: 10px;
    height: 20px;
    font-size: 18px;
    text-align: left;
}

.menu-card-price {
    margin-left: 0;
    height: 20px;
    font-size: 18px;
    text-align: left;
}